<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/andalucia-5313594_1280.jpg" alt="Imagen 1">
        <div class="search-form">
          <h3>En qué podemos ayudarte?</h3>
          <form>
            <input type="text" placeholder="Escribe tu búsqueda">
            <button type="submit">Buscar</button>
          </form>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/descarga.jpg" alt="Imagen 2">
        <div class="search-form">
          <h3>En qué podemos ayudarte?</h3>
          <form>
            <input type="text" placeholder="Escribe tu búsqueda">
            <button type="submit">Buscar</button>
          </form>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/spain-6297224_1280.jpg" alt="Imagen 3">
        <div class="search-form">
          <h3>En qué podemos ayudarte?</h3>
          <form>
            <input type="text" placeholder="Escribe tu búsqueda">
            <button type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
  </div>