<!DOCTYPE html>
<html>
<head>
  <title>Página de la Junta de Andalucía</title>
</head>
<body>

  <!-- Fila de redes sociales -->
  <app-social-icons></app-social-icons>
  <!-- Encabezado con logo y menú -->
  <app-navbar></app-navbar>
  <!-- Carrusel de imágenes -->
  <app-carrusel></app-carrusel>

  <!-- Título "DIRECTO A" -->
  <section class="container">
    <h2 class="text-center mt-5">DIRECTO A</h2>
  </section>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
